@import "tailwindcss";

@theme {
  --color-primary: #C00707;
  --color-primary-dark: #8B0000;
  --color-danger: #ef4444;
  --color-like: #ef4444;
  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}
